# Instructions

To start, go to Kernal -> 'Restart and Run All' -> 'Restart and Run All Cells'

replace the wallet address in the cell below with the address you want to analyse

In [1]:
# Bearwhale wallet v2 : 9eyXNatnA6YM4tS1TjadEA6TFrd9bdufbFuykV89iX9vE9RBZZe
# v1 : 9hyDXH72HoNTiG2pvxFQwxAhWBU8CrbvwtJDtnYoa4jfpaSk1d3
target = 'MUbV38YgqHy7XbsoXWF5z7EZm524Ybdwe5p9WDrbhruZRtehkRPT92imXer2eTkjwPDfboa1pR3zb3deVKVq3H7Xt98qcTqLuSBSbHb7izzo5jphEpcnqyKJ2xhmpNPVvmtbdJNdvdopPrHHDBbAGGeW7XYTQwEeoRfosXzcDtiGgw97b2aqjTsNFmZk7khBEQywjYfmoDc9nUCJMZ3vbSspnYo3LarLe55mh2Np8MNJqUN9APA6XkhZCrTTDRZb1B4krgFY1sVMswg2ceqguZRvC9pqt3tUUxmSnB24N6dowfVJKhLXwHPbrkHViBv1AKAJTmEaQW2DN1fRmD9ypXxZk8GXmYtxTtrj3BiunQ4qzUCu1eGzxSREjpkFSi2ATLSSDqUwxtRz639sHM6Lav4axoJNPCHbY8pvuBKUxgnGRex8LEGM8DeEJwaJCaoy8dBw9Lz49nq5mSsXLeoC4xpTUmp47Bh7GAZtwkaNreCu74m9rcZ8Di4w1cmdsiK1NWuDh9pJ2Bv7u3EfcurHFVqCkT3P86JUbKnXeNxCypfrWsFuYNKYqmjsix82g9vWcGMmAcu5nagxD4iET86iE2tMMfZZ5vqZNvntQswJyQqv2Wc6MTh4jQx1q2qJZCQe4QdEK63meTGbZNNKMctHQbp3gRkZYNrBtxQyVtNLR8xEY8zGp85GeQKbb37vqLXxRpGiigAdMe3XZA4hhYPmAAU5hpSMYaRAjtvvMT3bNiHRACGrfjvSsEG9G2zY5in2YWz5X9zXQLGTYRsQ4uNFkYoQRCBdjNxGv6R58Xq74zCgt19TxYZ87gPWxkXpWwTaHogG1eps8WXt8QzwJ9rVx6Vu9a5GjtcGsQxHovWmYixgBU8X9fPNJ9UQhYyAWbjtRSuVBtDAmoV1gCBEPwnYVP5GCGhCocbwoYhZkZjFZy6ws4uxVLid3FxuvhWvQrVEDYp7WRvGXbNdCbcSXnbeTrPMey1WPaXX'

# Imports

In [2]:
#!pip install pandas
import pandas as pd
import requests
import numpy as np
pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.set_option('display.max_rows', 30)

# Pull

API Request to pull the data and then place it into a pandas dataframe. You can analyse the json directly by uncommenting these lines below.

In [3]:
# API Request
# Docs : https://api.ergoplatform.com/api/v1/docs/

#import requests
#for p in range(1,5):
  #  url = 'https://api.ergoplatform.com/api/v1/boxes/byAddress/MUbV38YgqHy7XbsoXWF5z7EZm524Ybdwe5p9WDrbhruZRtehkRPT92imXer2eTkjwPDfboa1pR3zb3deVKVq3H7Xt98qcTqLuSBSbHb7izzo5jphEpcnqyKJ2xhmpNPVvmtbdJNdvdopPrHHDBbAGGeW7XYTQwEeoRfosXzcDtiGgw97b2aqjTsNFmZk7khBEQywjYfmoDc9nUCJMZ3vbSspnYo3LarLe55mh2Np8MNJqUN9APA6XkhZCrTTDRZb1B4krgFY1sVMswg2ceqguZRvC9pqt3tUUxmSnB24N6dowfVJKhLXwHPbrkHViBv1AKAJTmEaQW2DN1fRmD9ypXxZk8GXmYtxTtrj3BiunQ4qzUCu1eGzxSREjpkFSi2ATLSSDqUwxtRz639sHM6Lav4axoJNPCHbY8pvuBKUxgnGRex8LEGM8DeEJwaJCaoy8dBw9Lz49nq5mSsXLeoC4xpTUmp47Bh7GAZtwkaNreCu74m9rcZ8Di4w1cmdsiK1NWuDh9pJ2Bv7u3EfcurHFVqCkT3P86JUbKnXeNxCypfrWsFuYNKYqmjsix82g9vWcGMmAcu5nagxD4iET86iE2tMMfZZ5vqZNvntQswJyQqv2Wc6MTh4jQx1q2qJZCQe4QdEK63meTGbZNNKMctHQbp3gRkZYNrBtxQyVtNLR8xEY8zGp85GeQKbb37vqLXxRpGiigAdMe3XZA4hhYPmAAU5hpSMYaRAjtvvMT3bNiHRACGrfjvSsEG9G2zY5in2YWz5X9zXQLGTYRsQ4uNFkYoQRCBdjNxGv6R58Xq74zCgt19TxYZ87gPWxkXpWwTaHogG1eps8WXt8QzwJ9rVx6Vu9a5GjtcGsQxHovWmYixgBU8X9fPNJ9UQhYyAWbjtRSuVBtDAmoV1gCBEPwnYVP5GCGhCocbwoYhZkZjFZy6ws4uxVLid3FxuvhWvQrVEDYp7WRvGXbNdCbcSXnbeTrPMey1WPaXX'+'?page='+str(p)
 #   r = requests.get(url)
    
  #  json = r.json()

In [4]:
# API Request
# Docs : https://api.ergoplatform.com/api/v1/docs/

import requests

url = 'https://api.ergoplatform.com/api/v1/boxes/byAddress/'+target
r = requests.get(url)
    
json = r.json()

In [5]:
# Query the json directly

#json.keys()
#json['items']
json['total']
#json

941

In [6]:
# load json into a dataframe
df = pd.DataFrame(json['items'])
#df

# Dataframe

Pandas allows us to view the information easier, we drop the columns we don't need to here to clear up clutter.

In [7]:
df.info()

# boxId
# transactionId - tx id displayed on explorer
# blockId
# value - unspent 
# index - ? 
# creationHeight - time
# ergoTree -  0008cd023c166f1ba9de6fdd5ed90a6f15e037b0a9247a...
# address - wallet address
# assets - tokens
# additionalRegisters - sigma? R4
# spentTxId
# mainChain - main-net - True

#df.sort_values(by=['BalanceChange (ERG)'])
#df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   boxId                20 non-null     object
 1   transactionId        20 non-null     object
 2   blockId              20 non-null     object
 3   value                20 non-null     int64
 4   index                20 non-null     int64
 5   creationHeight       20 non-null     int64
 6   ergoTree             20 non-null     object
 7   address              20 non-null     object
 8   assets               20 non-null     object
 9   additionalRegisters  20 non-null     object
 10  spentTransactionId   20 non-null     object
 11  mainChain            20 non-null     bool
dtypes: bool(1), int64(3), object(8)
memory usage: 1.9+ KB

In [8]:
# Drop unneeded columns
df.drop(columns=['mainChain','ergoTree','transactionId','boxId', 
                 'blockId','address','index',
                 'spentTransactionId'], inplace=True)

# Drop unneeded columns
df.drop(columns=['additionalRegisters'], inplace=True)
#df

# Tidy

The UTXO model tracks the total balance on each transaction in nanoErgs. Some small fixes to make it more readable.

In [9]:
# Finding difference
df['BalanceChange (ERG)'] = df.value.diff()
df['HeightChange (h)'] = df.creationHeight.diff()
# nanoErg -> Erg
df['value'] = df['value'] / 1000000000
df['BalanceChange (ERG)'] = df['BalanceChange (ERG)'] / 1000000000
# Track this from geneis block ?
df['HeightChange (h)'] = df['HeightChange (h)'] * 2
df['HeightChange (h)'] = df['HeightChange (h)'] / 60
# Reversing polarity
df['BalanceChange (ERG)'] = df['BalanceChange (ERG)'] * -1 
df['HeightChange (h)'] = df['HeightChange (h)'] * -1 
df['BalanceChange (ERG)'] = df['BalanceChange (ERG)'].shift(-1)
df['HeightChange (h)'] = df['HeightChange (h)'].shift(-1)

#df

# Tokens

In [10]:
# Pulling banks SigUSD assets

df3 = df['assets'].apply(pd.Series)

#df3

df_sigUSD = df3[0].apply(pd.Series)
df_sigUSD.drop(columns=['tokenId','index','decimals','type', 
                 ], inplace=True)

df_sigUSD = df_sigUSD.rename(columns={'amount': 'AmountUSD'})
#df_sigUSD

In [11]:
df_sigRSV = df3[1].apply(pd.Series)
df_sigRSV.drop(columns=['tokenId','index','decimals','type', 
                 ], inplace=True)
df_sigRSV = df_sigRSV.rename(columns={'amount': 'AmountRSV'})

#df_sigRSV

In [12]:
#additional_registers_df = df['additionalRegisters'].apply(pd.Series)
#additional_registers_df_r4 = additional_registers_df['R4'].apply(pd.Series)
#additional_registers_df_r5 = additional_registers_df['R5'].apply(pd.Series)

#additional_registers_df
#additional_registers_df_r4

In [13]:
# Merging back into original frame and tidying
df = pd.concat([df, df_sigRSV,df_sigUSD], axis=1)
df.drop(columns=['assets', 'name'], inplace=True)
df = df.rename(columns={'value': 'Final Balance'})

In [14]:

#df.sort_values(by=['creationHeight'], ascending=False)
df

,Final Balance,creationHeight,BalanceChange (ERG),HeightChange (h),AmountRSV,AmountUSD
0,1336084.321,483746,5.879,0.467,9999105026526,9999980799728
1,1336078.443,483732,-281.062,0.600,9999105026526,9999980802228
2,1336359.505,483714,5485.801,0.067,9999104686526,9999980885228
3,1330873.703,483712,-359617.323,16.233,9999104686526,9999983195228
4,1690491.026,483225,354270.118,-16.500,9999097798963,9999832846933
5,1336220.908,483720,59.370,0.167,9999104826526,9999980860228
6,1336161.538,483715,-353002.673,17.433,9999104826526,9999980885228
7,1689164.210,483192,2150.876,2.167,9999098721963,9999832846933
8,1687013.335,483127,289.607,0.700,9999100221963,9999832846933
9,1686723.728,483106,33644.068,25.100,9999100423763,9999832846933
10,1653079.661,482353,-38710.366,-34.567,9999104462251,9999843612602
11,1691790.026,483390,715.846,5.033,9999097618963,9999832446933
12,1691074.180,483239,1025.125,0.400,9999098118963,9999832446933
13,1690049.055,483227,42522.194,31.733,9999098118963,9999832846933
14,1647526.861,482275,3.527,0.367,9999104495251,9999845662602
15,1647523.334,482264,814.733,0.300,9999104497751,9999845662602
16,1646708.601,482255,87516.480,187.100,9999104497751,9999845962602
17,1559192.121,476642,-132612.448,-227.933,9999122308345,9999869249357
18,1691804.568,483480,6943.978,15.200,9999097615958,9999832442933
19,1684860.591,483024,nan,nan,9999101728853,9999832846833

In [15]:
#df['BalanceChange (ERG)'].sum()

#df['Final Balance'].sum()
#df['amount'] = df['amount'].replace(np.nan, 0)
#df

In [16]:

df['AmountRSV'] = df['AmountRSV'].diff(periods=-1)
df['AmountUSD'] = df['AmountUSD'].diff(periods=-1)


df['RSVMinted'] = df['AmountRSV'] / -100
df['USDMinted'] = df['AmountUSD'] / -100

df

,Final Balance,creationHeight,BalanceChange (ERG),HeightChange (h),AmountRSV,AmountUSD,RSVMinted,USDMinted
0,1336084.321,483746,5.879,0.467,0.000,-2500.000,-0.000,25.000
1,1336078.443,483732,-281.062,0.600,340000.000,-83000.000,-3400.000,830.000
2,1336359.505,483714,5485.801,0.067,0.000,-2310000.000,-0.000,23100.000
3,1330873.703,483712,-359617.323,16.233,6887563.000,150348295.000,-68875.630,-1503482.950
4,1690491.026,483225,354270.118,-16.500,-7027563.000,-148013295.000,70275.630,1480132.950
5,1336220.908,483720,59.370,0.167,0.000,-25000.000,-0.000,250.000
6,1336161.538,483715,-353002.673,17.433,6104563.000,148038295.000,-61045.630,-1480382.950
7,1689164.210,483192,2150.876,2.167,-1500000.000,0.000,15000.000,-0.000
8,1687013.335,483127,289.607,0.700,-201800.000,0.000,2018.000,-0.000
9,1686723.728,483106,33644.068,25.100,-4038488.000,-10765669.000,40384.880,107656.690
10,1653079.661,482353,-38710.366,-34.567,6843288.000,11165669.000,-68432.880,-111656.690
11,1691790.026,483390,715.846,5.033,-500000.000,0.000,5000.000,-0.000
12,1691074.180,483239,1025.125,0.400,0.000,-400000.000,-0.000,4000.000
13,1690049.055,483227,42522.194,31.733,-6376288.000,-12815669.000,63762.880,128156.690
14,1647526.861,482275,3.527,0.367,-2500.000,0.000,25.000,-0.000
15,1647523.334,482264,814.733,0.300,0.000,-300000.000,-0.000,3000.000
16,1646708.601,482255,87516.480,187.100,-17810594.000,-23286755.000,178105.940,232867.550
17,1559192.121,476642,-132612.448,-227.933,24692387.000,36806424.000,-246923.870,-368064.240
18,1691804.568,483480,6943.978,15.200,-4112895.000,-403900.000,41128.950,4039.000
19,1684860.591,483024,nan,nan,nan,nan,nan,nan

In [17]:


df['Price RSV'] = (df['AmountRSV'] / df['BalanceChange (ERG)']) / 100
df['Price USD'] = (df['AmountUSD'] / df['BalanceChange (ERG)']) / 100


df

,Final Balance,creationHeight,BalanceChange (ERG),HeightChange (h),AmountRSV,AmountUSD,RSVMinted,USDMinted,Price RSV,Price USD
0,1336084.321,483746,5.879,0.467,0.000,-2500.000,-0.000,25.000,0.000,-4.252
1,1336078.443,483732,-281.062,0.600,340000.000,-83000.000,-3400.000,830.000,-12.097,2.953
2,1336359.505,483714,5485.801,0.067,0.000,-2310000.000,-0.000,23100.000,0.000,-4.211
3,1330873.703,483712,-359617.323,16.233,6887563.000,150348295.000,-68875.630,-1503482.950,-0.192,-4.181
4,1690491.026,483225,354270.118,-16.500,-7027563.000,-148013295.000,70275.630,1480132.950,-0.198,-4.178
5,1336220.908,483720,59.370,0.167,0.000,-25000.000,-0.000,250.000,0.000,-4.211
6,1336161.538,483715,-353002.673,17.433,6104563.000,148038295.000,-61045.630,-1480382.950,-0.173,-4.194
7,1689164.210,483192,2150.876,2.167,-1500000.000,0.000,15000.000,-0.000,-6.974,0.000
8,1687013.335,483127,289.607,0.700,-201800.000,0.000,2018.000,-0.000,-6.968,0.000
9,1686723.728,483106,33644.068,25.100,-4038488.000,-10765669.000,40384.880,107656.690,-1.200,-3.200
10,1653079.661,482353,-38710.366,-34.567,6843288.000,11165669.000,-68432.880,-111656.690,-1.768,-2.884
11,1691790.026,483390,715.846,5.033,-500000.000,0.000,5000.000,-0.000,-6.985,0.000
12,1691074.180,483239,1025.125,0.400,0.000,-400000.000,-0.000,4000.000,0.000,-3.902
13,1690049.055,483227,42522.194,31.733,-6376288.000,-12815669.000,63762.880,128156.690,-1.500,-3.014
14,1647526.861,482275,3.527,0.367,-2500.000,0.000,25.000,-0.000,-7.088,0.000
15,1647523.334,482264,814.733,0.300,0.000,-300000.000,-0.000,3000.000,0.000,-3.682
16,1646708.601,482255,87516.480,187.100,-17810594.000,-23286755.000,178105.940,232867.550,-2.035,-2.661
17,1559192.121,476642,-132612.448,-227.933,24692387.000,36806424.000,-246923.870,-368064.240,-1.862,-2.775
18,1691804.568,483480,6943.978,15.200,-4112895.000,-403900.000,41128.950,4039.000,-5.923,-0.582
19,1684860.591,483024,nan,nan,nan,nan,nan,nan,nan,nan

In [18]:
df.drop(columns=['creationHeight', 'HeightChange (h)', 'AmountRSV', 'AmountUSD'], inplace=True)
df

,Final Balance,BalanceChange (ERG),RSVMinted,USDMinted,Price RSV,Price USD
0,1336084.321,5.879,-0.000,25.000,0.000,-4.252
1,1336078.443,-281.062,-3400.000,830.000,-12.097,2.953
2,1336359.505,5485.801,-0.000,23100.000,0.000,-4.211
3,1330873.703,-359617.323,-68875.630,-1503482.950,-0.192,-4.181
4,1690491.026,354270.118,70275.630,1480132.950,-0.198,-4.178
5,1336220.908,59.370,-0.000,250.000,0.000,-4.211
6,1336161.538,-353002.673,-61045.630,-1480382.950,-0.173,-4.194
7,1689164.210,2150.876,15000.000,-0.000,-6.974,0.000
8,1687013.335,289.607,2018.000,-0.000,-6.968,0.000
9,1686723.728,33644.068,40384.880,107656.690,-1.200,-3.200
10,1653079.661,-38710.366,-68432.880,-111656.690,-1.768,-2.884
11,1691790.026,715.846,5000.000,-0.000,-6.985,0.000
12,1691074.180,1025.125,-0.000,4000.000,0.000,-3.902
13,1690049.055,42522.194,63762.880,128156.690,-1.500,-3.014
14,1647526.861,3.527,25.000,-0.000,-7.088,0.000
15,1647523.334,814.733,-0.000,3000.000,0.000,-3.682
16,1646708.601,87516.480,178105.940,232867.550,-2.035,-2.661
17,1559192.121,-132612.448,-246923.870,-368064.240,-1.862,-2.775
18,1691804.568,6943.978,41128.950,4039.000,-5.923,-0.582
19,1684860.591,nan,nan,nan,nan,nan

In [19]:
new_df = df.dropna()
new_df

,Final Balance,BalanceChange (ERG),RSVMinted,USDMinted,Price RSV,Price USD
0,1336084.321,5.879,-0.000,25.000,0.000,-4.252
1,1336078.443,-281.062,-3400.000,830.000,-12.097,2.953
2,1336359.505,5485.801,-0.000,23100.000,0.000,-4.211
3,1330873.703,-359617.323,-68875.630,-1503482.950,-0.192,-4.181
4,1690491.026,354270.118,70275.630,1480132.950,-0.198,-4.178
5,1336220.908,59.370,-0.000,250.000,0.000,-4.211
6,1336161.538,-353002.673,-61045.630,-1480382.950,-0.173,-4.194
7,1689164.210,2150.876,15000.000,-0.000,-6.974,0.000
8,1687013.335,289.607,2018.000,-0.000,-6.968,0.000
9,1686723.728,33644.068,40384.880,107656.690,-1.200,-3.200
10,1653079.661,-38710.366,-68432.880,-111656.690,-1.768,-2.884
11,1691790.026,715.846,5000.000,-0.000,-6.985,0.000
12,1691074.180,1025.125,-0.000,4000.000,0.000,-3.902
13,1690049.055,42522.194,63762.880,128156.690,-1.500,-3.014
14,1647526.861,3.527,25.000,-0.000,-7.088,0.000
15,1647523.334,814.733,-0.000,3000.000,0.000,-3.682
16,1646708.601,87516.480,178105.940,232867.550,-2.035,-2.661
17,1559192.121,-132612.448,-246923.870,-368064.240,-1.862,-2.775
18,1691804.568,6943.978,41128.950,4039.000,-5.923,-0.582

In [20]:


df['RSVMinted']=df['RSVMinted'].replace(0, np.nan)
df['USDMinted']=df['USDMinted'].replace(0, np.nan)
df['Price RSV']=df['Price RSV'].replace(0, np.nan)
df['Price USD']=df['Price USD'].replace(0, np.nan)

df1 = df.replace(np.nan, '', regex=True)

df1

,Final Balance,BalanceChange (ERG),RSVMinted,USDMinted,Price RSV,Price USD
0,1336084.321,5.879,,25.000,,-4.252
1,1336078.443,-281.062,-3400.000,830.000,-12.097,2.953
2,1336359.505,5485.801,,23100.000,,-4.211
3,1330873.703,-359617.323,-68875.630,-1503482.950,-0.192,-4.181
4,1690491.026,354270.118,70275.630,1480132.950,-0.198,-4.178
5,1336220.908,59.370,,250.000,,-4.211
6,1336161.538,-353002.673,-61045.630,-1480382.950,-0.173,-4.194
7,1689164.210,2150.876,15000.000,,-6.974,
8,1687013.335,289.607,2018.000,,-6.968,
9,1686723.728,33644.068,40384.880,107656.690,-1.200,-3.200
10,1653079.661,-38710.366,-68432.880,-111656.690,-1.768,-2.884
11,1691790.026,715.846,5000.000,,-6.985,
12,1691074.180,1025.125,,4000.000,,-3.902
13,1690049.055,42522.194,63762.880,128156.690,-1.500,-3.014
14,1647526.861,3.527,25.000,,-7.088,
15,1647523.334,814.733,,3000.000,,-3.682
16,1646708.601,87516.480,178105.940,232867.550,-2.035,-2.661
17,1559192.121,-132612.448,-246923.870,-368064.240,-1.862,-2.775
18,1691804.568,6943.978,41128.950,4039.000,-5.923,-0.582
19,1684860.591,,,,,